html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

header {
    /*border: 1px solid black;*/
    height: 110px;
    width: 100%;
    background-color: #000E0D; /*base in paleton: 003430*/
    color: #AA8238; /*689D99*/
    float:left;
}

.user_profile {
    padding: 5px;
    padding-left: 45px;
    float: left;
    height: 100px;
}

div.user_info {
    float: left;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 14pt;
    vertical-align: bottom
}

div.user_info p {
    margin: 0;
    padding: 0;
}

.ava {
    width: 100px;
    height: 100px;
    float: left;
}

.logo {
    padding: 5px;
    padding-right: 100px;
    padding-top: 20px;
    float: right;
    height: 100px;
}

.logo .name {
    font-size: 32pt;
    line-height: 24pt;
    margin: 0px;
    padding: 0px;
}

.logo .subname {
    font-size: 16pt;
    line-height: 16pt;
    margin: 0px;
    padding: 0px;
    padding-left: 70px;
}

footer {
    height: 60px;
    width: 100%;
    padding: 0px;
    background-color: black;
    border: 1px solid black;
    float:left;
}

footer p {
    padding-top: 20px;
    text-align: center;
}

div#base {
    /*border: 1px solid black;*/
    width: 100%;
    min-height: 80%;
    overflow: hidden;
    background-color: #D6D6D6;
    /*overflow: auto;*/
}

a.home_link:link {
    color: #AA8238;
}
a.home_link:visited {
    color: #AA8238;
}
a.home_link:active {
    color: #AA8238;
}
a.home_link:hover {
    color: #A7373D;
}